body {
    background-color: rgb(255, 255, 255);
}
    #contact {
    padding: 5rem 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    color: black;
    z-index: 1;
}

.contact-container {
    display: flex;
    border-radius: 5vw;
    padding: 20px;
    width: 55vw;
    height: max-content;
    border: solid 1px black;
    box-shadow: 0px 10px 16px;
    background-color: white;
}

.contact-img img {
    display: block;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.recadrage {
    object-position: top;
}

.form-container {
    border-radius: 5vw;
    width: 50vw;
    height: auto;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    position: relative;
}
.lezebla {
    display: flex;
    width: 90%;
    gap: 10px;
}

.form-container input {
    display: block;
    width: 90%;
    padding: 0;
    box-shadow: none;
    outline: none;
    margin-bottom: 1rem;
    font-weight: 100;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.form-container h3 {
    font-weight: 700;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#envoi {
    background-color: gray;
    border: solid 1px black;
    width: min-content;
    padding: 0 10vw 0 10vw;
    border-radius: 10px;
    margin-bottom: 15px;
}

.decor {
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item {
    width: 49vw;
    height: 40vh;
    display: flex;
    align-items: center;
    border: solid 1px red;
    flex-direction: column;
    overflow: none;
}
.photo {
    display: flex;
    height: 48vw;
    width: 50vw;
    justify-content: center;
    border-bottom: solid 0.5px red;
    border-right: solid 0.5px red;
    opacity: 0.5;
}
